<div class="relative ">
    <button (click)="DropDownShow = !DropDownShow"
        class=" font-extrabold border {{UserData && 'border-primary-700 bg-primary-500' }}  text-white size-10 cursor-pointer rounded-full flex items-center justify-center"
        type="button">
        @if (UserData) {
        {{ UserData.name.at(0) }}
        }@else {
        <img class="size-10 " src="icons/person.png" alt="">
        }
    </button>

    <!-- Dropdown menu -->
    <div
        class=" absolute transition-all {{DropDownShow ? 'top-[150%]' : '-top-[700%]'}}  right-0 p-4 bg-white divide-y divide-gray-100 rounded-lg shadow-sm w-64 dark:bg-gray-700 dark:divide-gray-600">
        <ul class="flex  flex-col gap-4">
            @if (UserData?.name ) {
            <li (click)="DropDownShow = false" routerLink="profile"
                class="border flex p-2 cursor-pointer items-start gap-3 border-primary-200 rounded-md">
                <div class="w-fit">
                    <div
                        class=" font-extrabold border {{UserData && 'border-primary-700 bg-primary-500' }}  text-white size-10 rounded-full flex items-center justify-center">
                        @if (UserData) {
                        {{ UserData.name.slice(0,1)}}
                        }@else {
                        <img class="size-10 " src="icons/person.png" alt="">
                        }
                    </div>
                </div>
                <div class="">
                    <h5 class="text-sm font-semibold leading-tight text-gray-900 dark:text-white">
                        {{UserData.name}}
                    </h5>
                    <p class="text-sm text-gray-700 dark:text-gray-400">
                        {{UserData.email || UserMail||UserData.name+'@gmail.com'}}
                    </p>
                </div>
            </li>
            <li>
                <button (click)="DropDownShow = false" routerLinkActive="text-primary-500" [routerLink]="['allorders']"
                    class="block bg-primary-500 h-10 transition-all font-extrabold hover:bg-primary-600  w-full text-white cursor-pointer  rounded-xl  md:border-0  dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    routerLinkActive="text-primary-500" routerLink="auth">All Orders
                </button>
            </li>
            <li>
                <button (click)="signOut();DropDownShow = false"
                    class="block bg-primary-500 h-10 transition-all font-extrabold hover:bg-primary-600  w-full text-white cursor-pointer  rounded-xl  md:border-0  dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    routerLinkActive="text-primary-500" routerLink="auth">Signout <i
                        class="fa-solid fa-right-from-bracket"></i>
                </button>
            </li>
            }
            @else{

            <li class="">
                <a class="flex items-center justify-center bg-primary-500   h-10 transition-all font-extrabold hover:bg-primary-600  w-full text-white cursor-pointer  rounded-xl  md:border-0  dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    routerLinkActive="text-primary-500" routerLink="auth/register">Register</a>
            </li>
            <li class="">
                <a class="flex items-center justify-center bg-primary-500   h-10 transition-all font-extrabold hover:bg-primary-600  w-full text-white cursor-pointer  rounded-xl  md:border-0  dark:text-white md:dark:hover:text-green-500 dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent"
                    routerLinkActive="text-primary-500" routerLink="auth/login">Login</a>
            </li>
            }

            <li>
                <ul class="flex items-center justify-center  gap-4">
                    <li class="cursor-pointer"><i><i class="text-2xl fa-brands fa-facebook"></i></i></li>
                    <li class="cursor-pointer"><i><i class="text-2xl fa-brands fa-instagram"></i></i></li>
                    <li class="cursor-pointer"><i><i class="text-2xl fa-brands fa-youtube"></i></i></li>
                    <li class="cursor-pointer"><i><i class="text-2xl fa-brands fa-linkedin"></i></i></li>
                    <li class="cursor-pointer"><i><i class="text-2xl fa-brands fa-tiktok"></i></i></li>
                </ul>
            </li>
        </ul>
    </div>
</div>