<div class="grid  grid-cols-7 ">
    <div class="col-span-5 ">
        <owl-carousel-o class [options]="customOptions">
            <ng-template carouselSlide>
                <img src="imgs/slider-image-1.jpeg" class="w-full h-[550px]" alt="item.name">
            </ng-template>
            <ng-template carouselSlide>
                <img src="imgs/slider-image-2.jpeg" class="w-full h-[550px]" alt="item.name">
            </ng-template>
            <ng-template carouselSlide>
                <img src="imgs/slider-image-3.jpeg" class="w-full h-[550px]" alt="item.name">
            </ng-template>
        </owl-carousel-o>
    </div>
    <div class="col-span-2 flex flex-col ">
        <img src="imgs/slider-image-1.jpeg" class="w-full h-[276px]" alt="item.name">
        <img src="imgs/slider-image-2.jpeg" class="w-full h-[276px]" alt="item.name">
    </div>
</div>