<footer class="bg-gray-200">
    <div class="w-[85%] mx-auto space-y-4 py-10">

        <h2 class="text-2xl font-semibold" >Get the FreshCart App</h2>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit.</p>
        <div class="flex items-center justify-between">
            <input type="email" placeholder="Enter your email"
                class="p-2 rounded-[8px] outline-0 !border-gray-400 w-[70%]">
            <button class="bg-primary-700 text-white p-2 py-2 px-4 rounded cursor-pointer">Share App Link</button>
        </div>
        <div class="border-y border-gray-500 mt-6 gap-4 md:flex-row flex-col  flex    items-center justify-between py-6">
            <ul class="flex items-center gap-4">
                <li>Payment Partners</li>
                <li><img src="/imgs/amazon-pay.png" class="w-12" alt=""></li>
                <li><img src="/imgs/paypal.png" class="w-12" alt=""></li>
                <li><img src="/imgs/mastercard.webp" class="w-12" alt=""></li>
                <li><img src="/imgs/amazon-pay.png" class="w-12" alt=""></li>
            </ul>
            <ul class="flex items-center gap-2">
                <li>Get Delivers With FrechCart</li>
                <li><img src="/imgs/get-apple-store.png" class="w-20" alt=""></li>
                <li><img src="/imgs/get-google-play.png" class="w-20" alt=""></li>
            </ul>
        </div>
    </div>
</footer>