<div class="relative z-0 w-full mb-5 space-y-4 group">
    <input [value]="value" (blur)="OnTouched()" (input)="OnChange($any($event.target).value)"
        [type]="showPassword ? 'password' :'text'" formControlName="password" name="password" id="password"
        class="block py-2.5 px-0 w-full text-sm text-gray-900 bg-transparent border-0 border-b-2 border-gray-300 transition-all appearance-none dark:text-white dark:border-gray-600 dark:focus:border-primary-500 focus:outline-none focus:ring-0 focus:border-primary-600 peer"
        required />
    <label [for]="labelFor"
        class="absolute text-sm text-gray-500 dark:text-gray-400 duration-300 transform translate-y-0 scale-100 top-3 -z-10 origin-[0] peer-focus:start-0 peer-focus:-translate-y-6 peer-focus:scale-75 peer-focus:font-medium peer-focus:text-primary-600 peer-focus:dark:text-primary-500 peer-placeholder-shown:translate-y-0 peer-placeholder-shown:scale-100 peer-valid:-translate-y-6 peer-valid:scale-75">
        {{labelName}}
    </label>
    <button (click)="showPassword = !showPassword" type="button" class="cursor-pointer absolute right-1 top-1 ">
        <i class="fa-solid dark:text-white {{showPassword ? 'fa-eye' : 'fa-eye-slash'}}"></i>
    </button>
</div>