<!-- Toggle Sidebar Button -->
<button (click)="toggleSidebar()" type="button" class="inline-flex border items-center cursor-pointer p-2 w-10 h-10 justify-center 
         text-sm text-gray-500 rounded-lg md:hidden 
         hover:bg-gray-100 focus:outline-none focus:ring-2 focus:ring-green-200
         dark:text-gray-400 dark:hover:bg-gray-700 dark:focus:ring-green-500 
         transition-colors duration-300">
    <span class="sr-only">Open main menu</span>
    <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 17 14">
        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2"
            d="M1 1h15M1 7h15M1 13h15" />
    </svg>
</button>

<!-- Sidebar -->
<aside class="fixed top-0 left-0 md:hidden z-40 w-64 h-screen transition-transform 
         rounded-e-4xl shadow-lg border-r border-gray-200 dark:border-gray-700
         bg-gray-100 dark:bg-gray-900 
         {{ !isSidebarOpen ? '-translate-x-full' : 'translate-x-0' }}">

    <!-- Close Button -->
    <button (click)="isSidebarOpen = false" class="absolute top-4 right-4 text-xl cursor-pointer hover:text-primary-600 
           dark:hover:text-primary-400 transition-colors duration-200">
        <i class="fa-solid text-primary-400 fa-arrow-left"></i>
    </button>

    <!-- Sidebar Content -->
    <div class="h-full px-3 py-4 overflow-y-auto">
        <a (click)="isSidebarOpen = false" routerLink="" class="flex w-fit items-center space-x-3 rtl:space-x-reverse">
            <img src="icons/freshcart-logo.svg" class="h-8" alt="FreshCart Logo" />
        </a>

        <ul class="space-y-2 font-medium mt-6">
            <li>
                <a (click)="isSidebarOpen = false" routerLinkActive="text-green-500" [routerLink]="['home']" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 hover:text-green-500
                  dark:text-white dark:hover:bg-gray-700 dark:hover:text-white 
                  md:border-0 md:hover:text-green-700 md:dark:hover:text-green-500 
                  transition-colors duration-200">
                    Home <i class="fa-solid fa-house"></i>
                </a>
            </li>

            @if (UserData | async) {
            <li>
                <a routerLinkActive="text-primary-500" [routerLink]="['cart']" class="block py-2 relative px-3 text-gray-900 rounded-sm 
                  hover:bg-gray-100 hover:text-green-500
                  dark:text-white dark:hover:bg-gray-700 dark:hover:text-white 
                  md:border-0 md:hover:text-green-700 md:dark:hover:text-green-500 
                  transition-colors duration-200">
                    Cart
                    <span [class.hidden]="!cart || !cart?.numOfCartItems" class="absolute top-0 left-12 text-white font-extrabold text-xs 
                   bg-primary-500 flex items-center justify-center rounded-full 
                   w-5 h-5">
                        {{ cart?.numOfCartItems }}
                    </span>
                </a>
            </li>

            <li>
                <a (click)="isSidebarOpen = false" routerLinkActive="text-green-500" [routerLink]="['products']" class="block py-2 px-3 text-gray-900 rounded-sm hover:bg-gray-100 hover:text-green-500
                  dark:text-white dark:hover:bg-gray-700 dark:hover:text-white 
                  md:border-0 md:hover:text-green-700 md:dark:hover:text-green-500 
                  transition-colors duration-200">
                    Products <i class="fa-solid fa-bag-shopping"></i>
                </a>
            </li>
            }
        </ul>
    </div> 
</aside>