@if(template === 'icon'){
<button [disabled]="btnLoading" (click)="onClick();$event.stopPropagation()" title="Add to cart"
    class="cursor-pointer  text-base transition-all font-semibold hover:text-primary-700"><i
        class="fa-solid  fa-cart-shopping"></i> </button>
}@else{
<button [disabled]="btnLoading" (click)="onClick();$event.stopPropagation()" title="Add to cart"
    class="cursor-pointer  w-full rounded-xl bg-primary-500 hover:bg-primary-400 py-2    text-base transition-all font-semibold text-white">
    Add to cart </button>
}