<!-- <Eco-product-card [product]="products?.at(0)"></Eco-product-card> -->
<section>
    <h2 class="text-2xl font-semibold pb-3">Recent Products</h2>

    <div class="grid lg:grid-cols-4 md:grid-cols-3 sm:grid-cols-2 grid-cols-1 gap-5 ">
        @for (prod of this.products; track prod._id ) {
        <div class="mx-auto">
            <Eco-product-card [loadingBtnWish]='loadingBtnWish' [inWish]="wishlistIds.includes(prod._id+'') || false "
                (deleteFromWichListFire_2)="delFromWishlist($event)" (addToWichListFire_2)="addToWishlist($event)"
                [inCart]="cartIds.includes(prod._id) || false" [btnLoading]="loadingBtn"
                (addToCartFire_2)="addToCart($event)" (deleteFromCart_2)="removeProductFromCart($event)"
                [showSide]="true" 
                [product]="prod"></Eco-product-card>
        </div>
        }

    </div>
</section> 